.comment-message {
  color: $color-black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-blue;
  opacity: 1;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  
  &--enter {
    opacity: 0;
  }

  &--enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }

  &--exit {
    opacity: 1;
  }

  &--exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
}